body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
   
}
#border-1{
    border-left: 5px solid;
    border-image: linear-gradient(#7b4397,#dc2430);
    border-image-slice: 1;
    padding-left: 5px;
}

.about{
    color: #dd1864
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}

.explore-button{
    text-decoration: none;
    background-image: linear-gradient(#7b4397,#dc2430);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
/* first section CSS ends*/

.new-header{
    color: rgb(7, 7, 53);
}
.new-header1{
    color: #dd1864;
}
#section-two-header{
    text-align: center;
}
.top-row{
    margin-bottom: 150px;
}
.half-width1{
    width: 40%;
    margin-left: 5%;
    margin-right: 6%;
   padding-left: 10px;
    background-color: rgba(169, 213, 255, 0.856);
    border-radius: 10px;
  
}

.half-width2{
    width: 40%;
    margin-left: 5%;
    margin-right: 6%;
   padding-left: 10px;
    background-color: rgba(250, 200, 247, 0.856);
    border-radius: 10px;
  
}


.half-width3{
    width: 40%;
    margin-left: 5%;
    margin-right: 6%;
   padding-left: 5px;
    background-color: rgba(255, 210, 137, 0.856);
    border-radius: 10px;
  
}

/* 2nd section CSS ends*/

 .image img{
    width: 60%;
    margin-left: 100px;
}
/* 3rd section CSS ends*/

#border-2{
    border-left: 5px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    padding-left: 5px;
}
.image1 img{
    width: 120%;
    margin-left: 5px;
}
.section-one-header{
    text-align: center;
}
/* 5th section CSS ends*/

.last-section{
    background-color: rgb(7, 7, 26);
    width: 100%;
    color: white;
    text-align: center;
    padding: 15px;
}